<header
  class="bg-cyan-blue-500 dark:bg-blue-violet-500 shadow-x-light relative"
>
  <div
    class="flex items-center justify-between container"
    [ngClass]="{ 'h-24': true }"
  >
    @if(!mobile && !tablet) {
    <ul class="flex items-center gap-10">
      <li>
        <a href="/" aria-label="Ir para página inicial do ByteBank">
          <app-icon-logo class="text-white m-auto"></app-icon-logo>
        </a>
      </li>

      <li>
        <a
          class="text-white hover:text-orange-500 dark:hover:text-gray-250 font-lato text-[18px] font-semibold transition-all"
          href="/#sobre"
          aria-label="Ir para página sobre do ByteBank"
        >
          Sobre
        </a>
      </li>
      <li>
        <a
          class="text-white hover:text-orange-500 dark:hover:text-gray-250 font-lato text-[18px] font-semibold transition-all"
          href="/#vantagens"
          aria-label="Ir para página vantagens do ByteBank"
        >
          Vantagens
        </a>
      </li>
      <li>
        <a
          class="text-white hover:text-orange-500 dark:hover:text-gray-250 font-lato text-[18px] font-semibold transition-all"
          href="/#servicos"
          aria-label="Ir para página serviços do ByteBank"
        >
          Serviços
        </a>
      </li>
      <li>
        <a
          class="text-white hover:text-orange-500 dark:hover:text-gray-250 font-lato text-[18px] font-semibold transition-all"
          href="/#contato"
          aria-label="Ir para página contato do ByteBank"
        >
          Contato
        </a>
      </li>
    </ul>
    <div class="flex items-center gap-6">
      <app-button
        theme="secondary"
        label="Abrir minha conta"
        size="P"
        (click)="goToRegister()"
        aria-label="Ir para página de cadastro do ByteBank"
      ></app-button>

      <app-button
        theme="ghost-white"
        label="Já tenho conta"
        size="P"
        (click)="goToPanel()"
        aria-label="Ir para página de login do ByteBank"
      >
        <app-icon-exit
          icon-right
          class="text-white dark:text-gray-200 hover:dark:text-gray-250"
        />
      </app-button>

      <app-button
        (click)="toggleDarkMode()"
        size="P"
        aria-label="Alternar modo escuro"
        label=""
        [theme]="'primary'"
      >
        <app-icon-darkmode
          icon-left
          class="text-white dark:text-gray-200"
        ></app-icon-darkmode>
      </app-button>
    </div>
    } @else {
    <div class="flex justify-between items-center w-full">
      <a href="/" aria-label="Ir para página inicial do ByteBank">
        <app-icon-logo class="text-white m-auto"></app-icon-logo>
      </a>
      <div class="flex gap-6">
        <app-button (click)="toggleDarkMode()" size="P" label="" aria-label="Alternar modo escuro">
          <app-icon-darkmode icon-left class="text-white"></app-icon-darkmode>
        </app-button>
        <app-button size="P" label="" (click)="toggleMenu()" aria-label="Abrir menu de navegação">
          <app-icon-hamburger icon-left class="text-white"></app-icon-hamburger>
        </app-button>
      </div>
    </div>

    }
  </div>

  <app-menu
    [mobile]="mobile"
    [tablet]="tablet"
    [menuOpen]="menuOpen"
    [menuRef]="menuRef"
    (closeMenu)="closeMenu()"
    (menuRefReady)="setMenuRef($event)"
  >
  </app-menu>
</header>
