<button
  [type]="type"
  [disabled]="disabled"
  [ngClass]="{
    'bg-cyan-blue-500 dark:bg-[#090979] hover:bg-cyan-blue-900 dark:hover:bg-blue-violet-900':
      theme === 'primary' && !disabled,

    'bg-orange-500 dark:bg-yellow-500 hover:bg-orange-900 hover:dark:bg-yellow-900':
      theme === 'secondary' && !disabled,
    'bg-transparent dark:bg-transparent border dark:border border-cyan-blue-500 dark:border-[#090979] hover:bg-cyan-blue-500 dark:hover:bg-blue-violet-500':
      theme === 'outline-cyan-blue' && !disabled,
    'bg-transparent hover:text-cyan-blue-900':
      theme === 'ghost-cyan-blue' && !disabled,
    'bg-transparent hover:text-orange-500 dark:hover:text-gray-200':
      theme === 'ghost-white' && !disabled,
    'bg-gray-200 cursor-not-allowed': disabled,
    'px-3': size === 'P',
    'px-12': size === 'G',
    'px-28': size === 'GG',
    'px-5 py-2.5 text-sm': size === 'PP'
  }"
  [class.gap-2]="!!label"
  [class]="
    'group py-[14px] rounded-lg font-lato text-base font-semibold transition-colors duration-300 flex items-center justify-center ' +
    class
  "
>
  <ng-content select="[icon-left]"></ng-content>

  <span
    *ngIf="label"
    [ngClass]="{
      'text-white hover:text-gray-200': theme === 'primary',
      'dark:!text-brown-500 hover:!dark:text-brown-900 text-gray-50':
        theme === 'secondary',
      '!text-white hover:!text-gray-200 dark:!text-gray-200 hover:!dark:text-gray-250':
        theme === 'ghost-white',
      'text-[#004d61] dark:text-[#090979] group-hover:text-white':
        theme === 'outline-cyan-blue',
      'text-cyan-blue-500  hover:text-cyan-blue-900':
        theme === 'ghost-cyan-blue',
      '!text-gray-500': disabled
    }"
  >
    {{ label }}
  </span>

  <ng-content select="[icon-right]"></ng-content>
</button>
