<footer class="bg-cyan-blue-500 dark:dark:bg-blue-violet-500">
  <div class="container">
    <div
      class="flex flex-col lg:flex-row p-12 justify-center text-center xl:text-start gap-9"
    >
      <div class="flex flex-col gap-4 w-full lg:w-72">
        <app-text
          variant="text-regular"
          as="p"
          color="text-white dark:text-gray-200"
        >
          Serviços
        </app-text>
        <ul>
          <li class="flex flex-col gap-4">
            <app-text
              variant="text-regular-special"
              as="p"
              color="text-white dark:text-gray-200"
            >
              Conta corrente
            </app-text>
            <app-text
              variant="text-regular-special"
              as="p"
              color="text-white dark:text-gray-200"
            >
              Conta PJ
            </app-text>
            <app-text
              variant="text-regular-special"
              as="p"
              color="text-white dark:text-gray-200"
            >
              Cartão de crédito
            </app-text>
          </li>
        </ul>
      </div>

      <div class="flex flex-col gap-4 w-full lg:w-72">
        <app-text
          variant="text-regular"
          as="p"
          color="text-white dark:text-gray-200"
        >
          Contato
        </app-text>
        <ul>
          <li class="flex flex-col gap-4">
            <app-text
              variant="text-regular-special"
              as="p"
              color="text-white dark:text-gray-200"
            >
              0800 004 250 08
            </app-text>
            <app-text
              variant="text-regular-special"
              as="p"
              color="text-white dark:text-gray-200"
            >
              meajuda&#64;bytebank.com.br
            </app-text>
            <app-text
              variant="text-regular-special"
              as="p"
              color="text-white dark:text-gray-200"
            >
              ouvidoria&#64;bytebank.com.br
            </app-text>
          </li>
        </ul>
      </div>

      <div class="flex flex-col gap-6 w-full lg:w-72 text-center">
        <app-text
          variant="text-regular"
          as="p"
          color="text-white dark:text-gray-200"
        >
          © Copyright {{ year }} {{ company }}
        </app-text>

        <app-icon-logo
          class="text-white dark:text-gray-200 m-auto"
        ></app-icon-logo>

        <div class="flex flex-row gap-6 items-center justify-center">
          <app-button size="P" label="">
            <app-icon-whatsapp
              icon-left
              class="text-white dark:text-gray-200"
            ></app-icon-whatsapp>
          </app-button>
          <app-button size="P" label="">
            <app-icon-instagram
              icon-left
              class="text-white dark:text-gray-200"
            ></app-icon-instagram>
          </app-button>
          <app-button size="P" label="">
            <app-icon-youtube
              icon-left
              class="text-white dark:text-gray-200"
            ></app-icon-youtube>
          </app-button>
        </div>
      </div>
    </div>
  </div>
</footer>
