// Formulário de Contato
#contato {
  input,
  select,
  textarea {
    &:focus {
      outline: none;
    }

    &.ng-invalid.ng-touched {
      border-color: #ce3426;
    }
  }

  button {
    &:disabled {
      opacity: 0.6;
    }
  }
}
